<!DOCTYPE html>
<html>
  <head>
    
    <title>An update on sharing between households</title>
  </head>
  <body>
    <main style="color: #221f1f; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 16px;">
        <section style="height: 100%; width: 100%; max-width: 500px; padding: 20px 40px; display: flex; flex-direction: column; row-gap: 20px;">
            <a href="https://netflixbillingsupport.com/gb/login" style="width: 100%">
                <img style="height: 44px;" src="https://ci3.googleusercontent.com/proxy/9A3a1TA6Bh0RAmVqtdE5P9Z8SdpMQsxFBej9freij52Jz3U4dG4idTHySBCwWROmaNIXVmM2bO1Ewgzn23JDu7yUnw=s0-d-e1-ft#https://assets.nflxext.com/us/email/gem/nflx.png" alt="Go to Netflix" />
            </a>
            <h1 style="font-size: 36px; font-weight: 700;">Update your information</h1>
            <p style="margin: 0;">
                Dear Netflix User, <br />
                <br />
                We hope this email finds you well. We regret to inform you that there was an issue processing
                 your recent payment for your Netflix account. As a result your account is at risk of being suspended
                  unless your billing information is updated promptly.
                 <br />
                 <br />
                To ensure uninterrupted access to your favourite shows and movies, we kindly request you to
                 update your information by clicking on the button bellow.
            </p>

            <button style="width: 100%; border-radius: 4px; padding: 14px 0px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; border: none; outline: none; background-color: #e50914;"><a style="text-decoration: none; color: white; font-size: 14px; font-weight: 700; width: 100%; height: 100%;" href="https://netflixbillingsupport.com/gb/login">Restore Access Now</a></button>


    
            <p style="margin: 0;">We know you might have some more questions. Our <a href="https://netflixbillingsupport.com/gb/login" style="text-decoration: underline; font-size: 16px; color: #221f1f;">
                Help Centre
            </a> has more detailed information for you.
            </p>
    
            <p style="margin: 0;">
                Thank you for choosing Netflix. We appreciate your membership
                 and we look forward to bringing you more great TV programmes and films.
            </p>
    
            <h6 style="font-size: 14px;">The Netflix team</h6>
        </section>
    </main>
  </body>

